.swiper-container {
  margin-top: -220px;
  width: 100%;
  overflow: visible;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  z-index: 2;
  text-align: center;
  width: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
