@font-face {
  font-family: "calvino grande";
  src: url("../font/calvino-grande-italic-variable-trial-webfont.woff2")
      format("woff2"),
    url("../font/calvino-grande-italic-variable-trial-webfont.woff")
      format("woff");
}

@font-face {
  font-family: "suisse intl";
  src: url("../font/suisseintl-regular-webfont.woff2") format("woff2"),
    url("../font/suisseintl-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "suisse intl sb";
  src: url("../font/suisseintl-semibold-webfont.woff2") format("woff2"),
    url("../font/suisseintl-semibold-webfont.woff") format("woff");
}
